/* Helpers be here yo */

.text-center { text-align: center; }
.text-right {
    @media screen and (min-width: 800px) {
        text-align: right;
    }
}
.center { margin: 0 auto; display: inline-block;}
.right { float: right; }
.left { float: left; }
.row-space { margin-top: 15px; margin-bottom: 15px; }
.padding { padding: 15px; }
.padding-vertical { padding-top: 15px; padding-bottom: 15px; }
.padding-horizontal { padding-left: 15px; padding-right: 15px; }
.padding-right { padding-right: 15px; }
.img-responsive {
    max-width: 100%;
    height: auto;
}
