/* Helpers be here yo */

.text-center { text-align: center; }
.text-right { text-align: right; }
.center { margin: 0 auto; }
.right { float: right; }
.left { float: left; }
.row-space { margin-top: 15px; margin-bottom: 15px; }
.padding { padding: 15px; }
