/* Fonts */

@import "fonts.less";

/* Colors */

@import "colors.less";

/* Generics */
html, body{
  margin: 0;
  padding: 0;
}
body{
  background: @easy;
}

nav {
  background: @g445;
}
main{
  background: @flatbone;


}
footer{
  background: @easy;

}


/* Helpers */

@import "helpers.less";

/* Grid */

@import "grid.less";

/* Elements */


