/* Fonts */

@import "fonts.less";

/* Colors */

@import "colors.less";

/* Generics */
html, body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 14px;
}
body{
  background: @easy;
}

p {
    margin-bottom: 15px;
    margin-top: 0px;
}

a {
    color: darken(blue, 30%);
    text-decoration: none;
}
a:hover {
    color: lighten(blue, 5%);
}

nav {
  background: @g445;
}
main{
  background: @flatbone;
}
footer{
  background: @easy;

}
nav, main, body, section {
    box-sizing: border-box;
}

/* Helpers */

@import "helpers.less";

/* Grid */

@import "grid.less";

/* Elements */

.button {
    padding: 5px 10px 5px 10px;
    margin-bottom: 3px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.button:focus { outline: none; }
.button.active { outline: none; }

.button-green {
    border: 1px solid green;
    background-image: -webkit-linear-gradient(top, lighten(green, 40%), lighten(green, 30%));
    background-image: -moz-linear-gradient(top, lighten(green, 40%), lighten(green, 30%));
    background-image: -ms-linear-gradient(top, lighten(green, 40%), lighten(green, 30%));

    color: darken(green, 15%);
}
.button-green:hover {
    color: darken(green, 10%);
    background-image: -webkit-linear-gradient(top, lighten(green, 50%), lighten(green, 40%));
    background-image: -moz-linear-gradient(top, lighten(green, 50%), lighten(green, 40%));
    background-image: -ms-linear-gradient(top, lighten(green, 50%), lighten(green, 40%));
}

ul.navbar{
  margin: 0;
  padding: 0;
  overflow: auto;
  display: block;
  list-style-type: none;

  li{
    float: left;


    a{
      padding: 15px;
      display: inline-block;

    }
  }
  li.active{
    background: darken(@g445, 10%);
  }

}
form.contact{
  width:100%;
  float:left;
  overflow: auto;


  .form-input{
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    font-size: 20px;
    font-weight: 100;

  }

  button{
    background: @g445;
    border-color: @easy;
  }
}
