{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="row">
    <div class="col12">
        <h1>Looks like you found dead Links :(</h1>
        <img src="/static/img/404.png" alt="DEAD LINK!">
        <img src="/static/img/404.png" alt="DEAD LINK!">
        <img src="/static/img/404.png" alt="DEAD LINK!">
        <img src="/static/img/404.png" alt="DEAD LINK!">
        <img src="/static/img/404.png" alt="DEAD LINK!">
        <img src="/static/img/404.png" alt="DEAD LINK!">
        <img src="/static/img/404.png" alt="DEAD LINK!">
        <img src="/static/img/404.png" alt="DEAD LINK!">
        <img src="/static/img/404.png" alt="DEAD LINK!">
        <img src="/static/img/404.png" alt="DEAD LINK!">
    </div>

</div>
{% endblock %}


