{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h1>About Us</h1>
    </div>
</div>
<div class="row">
    <div class="col12">
        <h3>The beginning</h3>
        <img src="/static/img/car_rental_team.jpg" alt="skeet"

             class="img-responsive right"
             width="270" height="180"
             style="margin-left: 15px;" />
        
        <p>It all began, one autmn day in november. The year was 2014. There where three average height dudes in a "lesesal" at NTNU who thought it was to expensive and troublesome to rent a car i Trondheim and/or Oslo. And then, bang, a spark of entrepeneurship that began the multigazillion dollar success story formally known as Shiny Octo Corporations LTD - Car Rental division. </p>

        <h3>Today</h3>
        <p class="padding-right">Shiny Octo Shame Car Rental have outlets globally, in norway, either in Trondheim or Oslo. With killer prices and a great selection of cars for your holiday or business needs.
            The original founders are still with the company and today holds the following titles:
        </p>
        <ul>
            <li>Aleksander Skraastad: Chief Executive Lead Developer Personality Procrastinator Officer</li>
            <li>Fredrik Borgen Tørnvall: Chief Designer Lead And Prettifier Orginazer Officer</li>
            <li>Kristoffer Dalby: Minion </li>
        </ul>
    </div>

</div>
{% endblock %}


