{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block navbar %}
<nav>
    <ul class=" navbar">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/car/">Cars</a>
        </li>
        <li class="active">
            <a href="/about">About</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<section class="padding">
    <h1>How to Create Useful 'About' Pages</h1>
    <p>
        A successful about page should help people understand who you are, what you do, and the roles of individuals or groups in your company so they know who to get in contact with and for what purpose.
        About pages can help your customers or clients get to know you better and what you do.
    </p>

    <h3>Tips for a Useful and Awesome About Page</h3>
    <ul>
        <li>Have Creative Copy: Make your writing stand out, say something unique.</li>
        <li>Say Exactly What You Do: Explain who you are, what you do, and why you do it.</li>
        <li>Offer methods of getting in touch: Direct people to different email addresses or contact forms for different information, and showcase all of your social profiles.</li>
        <li>Show Off Your Employees: Show that your employees and the creative minds behind your company are what really makes your company stand out above the rest.</li>
        <li>Don't leave people with questions: point people to an FAQ section or provide them with a contact form in case they still have questions.</li>
    </ul>
</section>
{% endblock %}
        
