{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h1>About Us</h1>
    </div>
</div>
<div class="row">
    <div class="col12">
        <h3>The beginning</h3>
        <img src="/static/img/car_rental_team.jpg" alt="skeet"
             class="img-responsive right"
             width="270" height="180" />

        <p>It all began, one autmn day in november. The year was 2014. There where three average hight dudes in a "lesesal" at NTNU who thaught it is to hard and expensive to rent a car i Trondhjem. And right there, where the entrepenaur moment, that began the multigazillion successstory named Shiny Octo Shame car rentals. </p>

        <h3>Today</h3>
        <p>Shiny Octo Shame car rental owns today locations all around the globe with killer prices and a great selection of cars for your holiday.
            The original founders are still with the company and today holds the roles as:
        </p>
        <ul>
            <li>Aleksander Skraastad: Chief Executive Lead Developer Personality Procrastinator Officer</li>
            <li>Fredrik Borgen Tørnvall: Chief Designer Lead And Prettifier Orginazer Officer</li>
            <li>Kristoffer Dalby: Minion </li>
        </ul>

    </div>
</div>
{% endblock %}


