<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet/less" href="../static/less/style.less">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.0.0/less.min.js"></script>
    <title> {% block title %} {% endblock %}</title>
</head>
<body>
{% include "navbar.html" %}
<main>
    <section class="container padding">
    {% block content %}{% endblock %}
    </section>
</main>
<footer>
    <section class = "container padding">
    {% block footer %}
      <p class="footer text-center">
          <a href="/faq">FAQ</a>
          | <a href="/contact">Contact</a>
          | <a href="/sitemap">Sitemap</a>
          | <a href="/tos">Terms & Conditions</a>
      </p>
      <p class="footer text-center">&copy; 2014 Shiny Octo Shame Corporations LTD</p>
    {% endblock %}
    </section>
</footer>
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>
