{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="row">
    <div class="col8">
        <h1>{{ car.brand }} {{ car.model }}</h1>
        <p>The most epic car.</p>
        <p><strong>Now only {{ car.price }},- kr per day!</strong></p>
    </div>
    <div class="col4">
        {% for rating in ratings %}
            {{ rating.name }}
            {{ rating.rating }}
        {% endfor %}
    </div>
</div>
<div class="row row-space">
    <a href="/car/{{ next_car }}" class="right">Next car &raquo;</a>
    <a href="/car/{{ prev_car }}">&laquo; Previous car</a>
</div>
{% endblock %}
        
