{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
{% if car %}
<div class="row">
    <div class="col-12">
        <h1>{{ car.brand }} {{ car.model }}</h1>
    </div>
</div>
<div class="row">
    <div class="col4">
        <p><strong>Now only {{ car.price }},- kr per day!</strong></p>
        <p>
        {% if car.available %}
            <a href="#" id="rent_now" class="button button-blue">Rent now!</a>
        {% else %}
            <a href="#" class="button button-red">Not available</a>
        {% endif %}
        </p>
    </div>
    <div class="col4">
        <p>{{ car.description }}</p>
    </div>
    <div class="col4 text-right">
        <img src="{{ car.picture_url }}" alt="{{ car.brand }} {{ car.model }}"
             title="{{ car.brand }} {{ car.model }}" class="img-responsive" />
    </div>
</div>
<div class="row hidden" id="rent_form">
    <div class="col12">
        <h3>Rent this car now</h3>
        <form action="" method="POST">
            <label for="first_name">First name</label>
            <input type="text" name="first_name" id="first_name" placeholder="Name" />
            <label for="last_name">Last name</label>
            <input type="text" name="last_name" id="last_name" placeholder="Surname" />
            <label for="email">E-mail name</label>
            <input type="email" name="email" id="email" placeholder="your@mail.com" />
            <label for="address">Address</label>
            <input type="text" name="address" id="address" placeholder="Address" />
            <label for="phone">Phone</label>
            <input type="text" name="phone" id="phone" placeholder="Phone number" />
            <label for="vendor">Vendor</label>
            <select name="vendor" id="vendor">
                <option value="Trondheim">Trondheim</option>
                <option value="Oslo">Oslo</option>
            </select>

            <button type="submit" class="button button-blue right" id="rent_submit">Rent</button>
            <p />
        </form>
    </div>
</div>
<div class="row">
    <div class="col4 padding-right">
        <h3>Write a review</h3>
        <p>Give us your feedback on the {{ car.brand }} {{ car.model }}!</p>
        <form action="" method="POST" id="rate_form">
            <label for="rate_name">Name</label>
            <input type="text" name="name" id="rate_name" placeholder="Your name" class="form-input">
            <input type="hidden" id="rate_car_id" name="car_id" value="{{ car.id }}" />
            <div class="row">
                <div class="col8">
                    <label for="rate_rating">Rating</label>
                    <select name="rating" id="rate_rating">
                        <option value="1">1 Star</option>
                        <option value="2">2 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="5">5 Stars</option>
                        <option value="6" selected>6 Stars</option>
                    </select>
                </div>
                <div class="col4 text-right">
                    <label>&nbsp;</label>
                    <button class="button button-blue" type="submit" id="rate">Rate</button>
                </div>
            </div>
        </form>
        <p />
    </div>
    <div class="col8">
        <h3>Customer reviews</h3>
        <p>This car has recieved <i id="rate_amount">{{ num_ratings }}</i> reviews from our beloved customers.</p>
        <div class="ratings" id="ratings">
            {% for rating in ratings %}
            <div class="rating">
                <p class="text-right"><strong>{{ rating.name }}</strong></p>
                <div class="stars" style="width: {{ rating.rating * 48 }}px;"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row row-space">
    <p>&nbsp;</p>
    <a href="/car/{{ next_car }}" class="right">Next car &raquo;</a>
    <a href="/car/{{ prev_car }}">&laquo; Previous car</a>
</div>
{% else %}
    <div class="row">
        <div class="col12">
            <h1>No such car.</h1>
        </div>
    </div>
{% endif %}
{% endblock %}
        
