{% extends "base.html" %}
{% block title %}Cars{% endblock %}
{% block content %}
<div class="row">
    <div class="col12">
        <h1>Available Cars</h1>
    </div>
</div>
{% for car in cars %}
<div class="row row-space">
    <div class="col8">
        <h3><a href="/car/{{ car.id }}">{{ car.brand }} {{ car.model }}</a></h3>
        <p>Available for <strong>{{ car.price }}</strong>,- kr per day!</p>
        <a href="#" class="button button-green">Rent now!</a>
    </div>
    <div class="col4 text-right">
        <a href="/car/{{ car.id }}">
        <img src="{{ car.picture_url }}" alt="{{ car.brand }} {{ car.model }}"
             title="{{ car.brand }} {{ car.model }}" class="img-responsive"
             width="270" height="180" />
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}

