{% extends "base.html" %}
{% block title %}Cars{% endblock %}

{% block content %}
<div class="row row-space">
    <div class="col12 padding">
        <h1>Available Cars</h1>
    </div>
</div>
{% for car in cars %}
<div class="row row-space">
    <div class="col8">
        <h3>{{ car.brand }} {{ car.model }}</h3>
        <span class="price">{{ car.price }}</span>
        
    </div>
    <div class="col4">
        <img src="{{ car.image }}" alt="{{ car.brand }} {{ car.model }}" />
    </div>
</div>
{% endfor %}
{% endblock %}

