{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="row">
    <div class="col12">
        <h1>Contact form</h1>
    </div>
</div>
<div class="row">
    <div class="col9">
        <form class="contact">
            <label for="name">Name (required)</label>
            <input type="text" name="name" class="form-input" id="name"required /><br>

            <label for="email">Email (required)</label>
            <input type="email" name="email" class="form-input" id="email"required /><br>

            <label for="subject">Subject (optional)</label>
            <input type="text" name="subject" class="form-input" id="subject"/><br>

            <label for="message">Message (required)</label>
            <textarea name="message" class="form-input" required id="message" rows="20"></textarea><br>
            <p class="text-center">
                <button class="center button-blue" type="submit"> Send Message</button>
            </p>

        </form>

    </div>
    <div class="col3 padding-horizontal">There will be some helptext here</div>
</div>
{% endblock %}


