{% extends "base.html" %}
{% block title %}FAQ{% endblock %}
{% block content %}
<div class="row">
    <div class="col12">
        <h1>FAQ</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>A Frequently Asked Questions page is necessary if you’re selling something, providing a service, or giving information about a complex subject.
        It takes the guesswork away from your visitors who may have questions, and makes the experience that much easier.
        When designing a FAQ page, usability should be at the top of the list of criteria to meet – after all you don’t want it to turn into a black hole of information.</p>
    </div>
</div>
{% endblock %}
        
