{% extends "base.html" %}
{% block title %}FAQ{% endblock %}
{% block content %}
<div class="row">
    <div class="col12">
        <h1>FAQ</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h3>Do I have to register an account to rent a car?</h3>
        <p>No, you only need to fill out the Rent Now! form located at every car detail page.</p>
        <h3>How do I decide which car i want to rent?</h3>
        <p>You can order the <a href="/car"><b>cars</b></a> by price, or you can check out the <a href="/"><b>front page</b></a>
        for a listing of our three highest rated cars, based on reviews from our customers.</p>
        <h3>Where can I pick up the car I just rented?</h3>
        <p>You can pick up the car either in Trondheim (NO), or Oslo (NO).</p>
        <h3>Do you have any luxury model cars?</h3>
        <p>We provide the <a href="/car/7"><b>Mercedes C180</b></a> as of now, but we will soon be able to provide the Bugatti Veyron
        as seen on the <a href="/"><b>front page</b></a>.</p>
        <h3>What do I do if I'm in an accident in the rental car?</h3>
        <p>First, call the emergency number (113) if you, or the other involved part are hurt. Then fill out the accident report form
        located in the glove box, and call our accident response team on +47 814 05 666.</p>
        <h3>Do you provide access to car information or ratings publicly through an API?</h3>
        <p>Yes! We have an XML based public API which is accessible at <a href="/car/xml"><b>/car/xml</b></a>.</p>
    </div>
</div>
{% endblock %}
        
