{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
    <h1>Shiny Octo-Shame Car Rental</h1>
</div>
<div class="row row-space">
    <section class="col9">Main content</section>
    <section class="col3">
        <h3>Our focus</h3>
        <p>We aim to provide the best god damn car rental service in the entire region.
        If you choose us, we will make you cum in your buttpussy.</p>
        <p>Some say, that Shiny Octo-Shame Car Rental very well may be the single
        most important company in the history of the universe.</p>
        <p>All we know is, you can rent cars from us increadibly cheap, and they're
        awesome as well!</p>
    </section>
</div>
{% endblock %}
        
