{% extends "base.html" %}
{% block title %}Sitemap{% endblock %}

{% block content %}
<div class="row">
    <div class="col12"><h1>Sitemap</h1></div>
</div>

<div class="row" >
    <div class = "col3 left">
        <h2><a href="/">Home</a></h2>
    </div>

    <div class = "col3 left">
        <h2><a href="/car">Cars</a></h2>
        {% for car in cars %}
        <h4><a href="car/{{car.id}}">{{car.brand}} {{car.model}}</a></h4>
        {% endfor %}
    </div>

    <div class = "col3 left">
        <h2><a href="/about">About</a></h2>
        <h4><a href="/faq">FAQ</a></h4>
        <h4><a href="/contact">Contact</a></h4>
        <h4><a href="/sitemat">Sitemap</a></h4>
        <h4><a href="/tos">Terms & Conditions</a></h4>
    </div>


</div>
{% endblock %}
        
